@media (width <= 600px){
    .logo{
        margin-right: 30px;
        margin-bottom: 10px;
        width: 15px;
    }
    .icons{
        display: none;
    }
    .menu{
        display: none;
    }
    .time{
        font-size: 14px;
    }
    .fas.fa-arrow-alt-circle-down {
        font-size: 12px;
    }
    .small-menu{
        display: none;
    }
    .title{
        font-size: 16px;
        text-align: start;
        text-transform: uppercase;
    }
    .content{
        flex-direction: column;
        flex: start;
    }
    .content-img{
        width: 300px;
        height: 200px;
        margin-right: 60px;
    }
    .small{
        font-size: 14px;
    }
    .order li {
        margin-bottom: 20px;
    }
    .right-menu{
        font-size: 14px;
    }
    .name{
        font-size: 18px;
    }
    .images i{
        display: none;
    }
    .images{
        display: none;
    }


}